<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Rock</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/nuevocss.css">
    </head>
    <body>
        <header>

            <nav>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="#">¿Qué es la música?</a></li>
                    <li><a href="#">Generos</a>
                        <div>
                            <ul>
                                <li class="titulo azul"><a href="/Rojo/views/seccionTres/newhtml.html">Rock</a></li>
                            </ul>
                            <ul>
                                <li class="titulo naranja"><a href="../seccionDos/pop.html">Pop</a></li>
                            </ul>
                            
                            <ul>
                                 <li class="amarillo"><a href="../seccionCuatro/newhtml.html">Electronica</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Historia</a>
                        <div>
                            <ul>
                                <li class="titulo azul"><a href="#">categoria</a></li>
                                <li><a href="#">categoria</a></li>
                                <li><a href="#">categoria</a></li>
                                <li><a href="#">categoria</a></li>
                                <li><a href="#">categoria</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Bibliografía</a></li>
                </ul>
            </nav>
        </header>

        <h3>El rock</h3>
        <article> <div style="text-align: center">
                <p>El rock es un término amplio que agrupa a una variedad de géneros musicales.1 Su forma originaria, conocida como rock and roll, surgió mayormente de la combinación de dos géneros anteriores como eran el rhythm and blues y el country. La música rock también se nutrió fuertemente del blues y el folk, e incorporó influencias del jazz, la música clásica y otras fuentes.

                    Musicalmente, el rock se ha centrado en la guitarra eléctrica, normalmente como parte de un grupo de rock con cantante, bajo, batería y, algunas veces, instrumentos de teclado como el órgano y el piano. Típicamente, el rock es una música centrada en las canciones, habitualmente con compás de 4/4 y usando una estructura verso — estribillo, pero el género se ha vuelto extremadamente diverso y las características musicales comunes son difíciles de definir. </p>
            </div></article>
        <p>
        <h2 style="color: #1C17A7">Canciones destacadas del rock</h2>   
        <article>
            <div style="text-align: center">
                <lu>
                    <li class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/v2AC41dglnM" frameborder="0" allowfullscreen></iframe>
                    </li>
                </lu>
            </div>
        </article>

    </body>
</html>
