<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Música es vida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/css.css">
        <link rel="stylesheet" type="text/css" href="../../css/nuevocss.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../seccionUno/newhtml.html">¿Qué es la música?</a></li>
                    <li><a href="#">Generos</a>
                        <div>
                            <ul>
                                <li class="titulo azul"><a href="/Rojo/views/seccionTres/newhtml.html">Rock</a></li>
                            </ul>
                            <ul>
                                <li class="titulo naranja"><a href="../seccionDos/pop.html">Pop</a></li>
                            </ul>

                            <ul>
                                <li class="amarillo"><a href="../seccionCuatro/newhtml.html">Electronica</a></li>
                            </ul>
                        </div>
                    </li>

                   
                </ul>
            </nav>
        </header>
        <h1 style="background: red">Electronica</h1>
        <div style="text-align: center">

            La música electrónica es aquel tipo de músicaque emplea para su producción e interpretación de instrumentos 
            <br>electrónicos y tecnología musical electrónica. En general, puede distinguirse entre el sonido producido 
            <br>   utilizando medios electromecánicos de aquel producido utilizando tecnología electrónica que también puede ser
            <br>   mezclada. Ejemplos de dispositivos que producen sonido electro mecánicamente son el telarmonio, el órgano
            <br>   Hammond y la guitarra eléctrica. 
            <br>  La producción de sonidos puramente electrónica puede lograrse mediante aparatos como el theremin, el sintetizador 
            <br>  de sonido y el ordenador.
            <br><br><br><br>

            <div id="wrapper" style="text-align: center ">
                <img src="../../imgs/avv.jpg" width="500" />

            </div>
        </div>


    </body>
</html>