<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Musica es vida: Pop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/nuevocss.css">
    </head>
    <body>
        <header>
        
            <nav>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="#">¿Qué es la música?</a></li>
                    <li><a href="#">Generos</a>
                        <div>
                            <ul>
                              <li class="titulo azul"><a href="/Rojo/views/seccionTres/newhtml.html">Rock</a></li>
                            </ul>
                            <ul>
                                <li class="titulo naranja"><a href="#">Pop</a></li>
                            </ul>
                           
                            <ul>
                                 <li class="amarillo"><a href="../seccionCuatro/newhtml.html">Electronica</a></li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </nav>
        </header>
        Pop
        <article> <div style="text-align: center">
        <p>La <b>música pop</b> (del inglés <i>pop music</i>, contracción de <i>popular music</i>) es un género de música popular que tuvo su origen a finales de los años 1950
            como una derivación del <i>rock and roll</i>, en combinación con otros géneros musicales que estaban en moda en aquel momento.
            Los términos <i>música pop</i> y <i>música popular</i> se usan a menudo de manera indistinta, aunque el segundo tiene un sentido más amplio al dar cabida a otros géneros distintos del pop que se consideren populares.</p>
        <p>Como género, la música pop es muy ecléctica, tomando prestado a menudo elementos de otros estilos como el <i>urban</i>, <i>dance</i>, el <i>rock</i>, la música latina, el <i>rhythm and blues</i> 
        o el <i>folk</i>. Con todo, hay elementos esenciales que definen al pop, como son las canciones de corta a media duración, escritas en un formato básico (a menudo la estructura verso-estribillo), así como el uso habitual de estribillos repetidos, de temas melódicos y ganchos. La instrumentación se compone habitualmente de 
        guitarra, batería, bajo, guitarra eléctrica,teclado, sintetizador, etcétera.</p>
        </div></article>
        <p>
        <h2 style="color: #4cef4f">A continuación una lista de música pop más sobresaliente del momento</h2>   
        <article>
            <div style="text-align: center">
            <lu>
                <li class="video">
                 <iframe width="640" height="360" src="https://www.youtube.com/embed/0KSOMA3QBU0?list=PLMC9KNkIncKtPzgY-5rmhvj7fax8fdxoj" frameborder="0" allowfullscreen></iframe>   
            </li>
            </lu>
                </div>
        </article>

    </body>
</html>
