<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>¿Qué es la música?</title>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/nuevocss.css">
    </head>
    <body>        
        <header>
            <nav>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="/Rojo/views/seccionUno/newhtml.html">¿Qué es la música?</a></li>
                    <li><a href="#">Generos</a>
                        <div>
                            <ul>
                                <li class="titulo azul"><a href="/Rojo/views/seccionTres/newhtml.html">Rock</a></li>

                            </ul>
                            <ul>
                                <li class="titulo naranja"><a href="views/seccionDos/pop.html">Pop</a></li>

                            </ul>

                            <ul>

                                <li class="naranja fuerte"><a href="views/seccionCuatro/newhtml.html">Electronica </a></li>                                
                            </ul>

                        </div>
                    </li>
                    
                </ul>
            </nav>
        </header>
        <table style="margin: 0 auto;" width="800" cellspacing="1" cellpadding="3" border="0" bgcolor="#165480" > 
            <tr> 
            <br>
            <br>
            <br>

            <td bgcolor="#5FA6D7"> 
                <font size=5 face="verdana, arial, helvetica"> 
                <b>¿Qué es la música?</b> 
                </font> 
            </td> 
        </tr> 
        <tr> 
            <td bgcolor="#6F17DA"> 
                <font face="verdana, arial, helvetica" size=2  style="color: whitesmoke"> 
                La música es una de las expresiones más fabulosas del ser humano ya que logra transmitir de manera inmediata diferentes sensaciones que otras formas de arte quizás no pueden. La música es un complejo sistema de sonidos, melodías y ritmos que el hombre ha ido descubriendo y elaborando para obtener una infinidad de posibilidades diferentes. Se estima que la música cuenta con gran importancia para el ser humano ya que le permite expresar miedos, alegrías, sentimientos muy profundos de diverso tipo. La música permite canalizar esos sentimientos y hacer que la persona aliviane sus penas o haga crecer su alegría dependiendo del caso

                </font> 

            </td> 
        </tr> 
    </table>
        <br>
        <br>
        <br>
        
<center> <iframe width="560" height="315" src="https://www.youtube.com/embed/ZlANAxXgLgE" frameborder="0" allowfullscreen></iframe>
</center>
</body>
</html>